@font-face {
    font-family: "JetBrains Sans";
    src: url("fonts/JetBrainsSans-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.woff2");
}

:root {
    font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
    background-color: #FFFFFF;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    font-size: 29px;
    line-height: 39px;
    font-weight: 300;
}

.title {
    margin-bottom: 40px;
}

#app {
    max-width: 1280px;
}

button {
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    background-color: rgba(25, 25, 28, 0.5);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

button:hover {
    background-color: #FFDAB9;
    border: 1px solid rgba(76, 166, 255, 0.2);
    background-clip: padding-box;
}

.header {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    height: 210px;
    margin-left: 0px;
}
.top-container {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border-bottom: 5px solid black;
}

.logo-wrapper {
    display: flex;
    height: 100px;
    width: 250px;
}

.motto {
    display: flex;
    position: relative;
    width: 850px;
    height: 100px;
    color: #000000;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
}

.top-menu {
    display: flex;
    position: relative;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.account {
    width: 110px;
    margin-right: 30px;
}

#accountBtn, #cartBtn, #aboutBtn, #catalogBtn {
    width: 110px;
    height: 50px;
    color: #f0f8ff ;
}

.cart {
    width: 110px;
    margin-left: 30px;
}

.lower-container {
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.lower-container-content {
    display: flex;
}

.dropdown {
    display: flex;
    position: relative;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: black;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.search {
    display: flex;
    position: relative;
    width: 850px;
    height: 100px;
    color: #000000;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
    position: relative;
    width: 750px;
    height: 50px;
    color: #000000;
    margin: 25px 50px;
    align-items: center;
    justify-content: center;
    border: black 1px solid;
}

.about {
    display: flex;
    width: 280px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
}

#main-content {
    display: block;
    width: 100%;
    margin-top: 210px;
}

.sales {
    position: relative;
    margin-top: 30px;
    align-content: center;
    margin-left: 30px;
}

.something {
    position: relative;
    width: 400px;
    display: block;
    margin-left: 60px;
    color: #000000;
    text-align: center;
}

.something-text-wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.secondLayer-container {
    display: flex;
}

.bestsellers_title-wrapper {
    display: block;
    text-align: left;
    color: #000000;
}

.bestsellers {
    display: block;
    position: relative;
    height: 500px;
    margin-top: 30px;
    margin-left: 30px;
}

.bestsellers-items {
    display: block;
}

.items-slider_slider {
    display: flex;
    width: 100%;
    height: 150px;
}

#bestellers-list {
    list-style-type:none;
    display: flex;
}

.item-wrapper {
    margin-left: 30px;
}

#first_item-wrapper {
    margin-left: 0;
}

.technologies {
    border-top: #000000 3px solid;
    margin-bottom: 36px;
    align-self: center;
    width: 100%;
    color:#000000;
    text-align: left;
}

.footer-text {
    margin-left: 30px;
}

.socials-logo {
    margin-left: 20px;
}

