@font-face {
    font-family: "JetBrains Sans";
    src: url("fonts/JetBrainsSans-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.woff2");
}

:root {
    font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.87);
    background-color: #FFFFFF;
    text-align: center;
    line-height: normal;
}

.page {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: contain;
}

.page__main-content {
    display: block;
    width: 100%;
    margin-top: 210px;
}

.main-container {
    display: flex;
}

.orders ul, .data ul {
    padding: 0;
}

.orders {
    position: relative;
    margin-top: 30px;
    align-content: center;
    width: 100%;
}

.orders__text, .data__text {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.orders__orders-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: #000000;
}

.orders-container__list li {
    margin-top: 20px;
}

.item-gallery__item_text-wrapper {
    text-align: left;
}

.data {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    border-left: #dddddd 3px solid;
}

.data-container {
    display: block;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}

.data-container__address_wrapper {
    display: block;
    color: #000000;
    text-align: left;
}

.data-container__name_wrapper {
    display: block;
    color: #000000;
    text-align: left;
    margin-top: 30px;
}

@media screen and (max-width:900px) {
    .main-container {
        flex-direction: column;
    }

    .data {
        border-left: none;
    }

}